<div class="col-sm-8">
  <div class="panel panel-primary">
    <div class="panel-heading">Solicitação de Cadastro</div>
    <div class="panel-body">
      <%= form_for @user, url: user_create_path,  :html => {:role => 'form'} do |f| %>
        <%= f.hidden_field :active, :value => 'false' %>
        <div class="col-sm-6">

          <div class="form-group">
            <%= f.label :name, "Nome: " %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Digite seu nome completo' %>
          </div>

          <div class="form-group">
            <%= f.label :email, "E-mail: " %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'Digite seu e-mail' %>
          </div>


          <div class="form-group">
            <%= f.label :cpf, "CPF: " %>
            <%= f.text_field :cpf, class: 'form-control', placeholder: 'Digite seu CPF' %>
          </div>

        <div id="type">
          <input type="radio" name="tipo"value="adm" checked> Assistente administrativo <br>
          <input type="radio" name="tipo"value="aux"> Auxiliar de departamento <br>
          <input type="radio" name="tipo"value="cord"> Coordenador de curso <br>


        </div>


        </div>
        <div class="col-sm-6">

          <div class="form-group">
            <%= f.label :registration, "Matrícula: " %>
            <%= f.text_field :registration, class: 'form-control', placeholder: 'Digite sua matrícula' %>
          </div>


          <div class="form-group">
            <%= f.label :password, "Senha: " %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Digite sua senha' %>
          </div>

          <div class="form-group">
            <%= f.label :confirm_password, "Confirmar Senha: " %>
            <%= f.password_field :confirm_password, class: 'form-control', placeholder: 'Confirme sua senha' %>
          </div>

          <div id="dropdown-department-assistant">
          <%= f.fields_for :department_assistant do |ff| %>
            <p> Departamento </p>
            <%= ff.collection_select(:department_id,Department.all,:id,:name,include_blank: true) %>
          </div>
          <% end %>

          <div id="dropdown-coordinator">
            <%= f.fields_for :coordinator do |ff| %>
          <p> Curso </p>
              <%=ff.collection_select(:course_id,Course.all,:id,:name, include_blank: true)%>
          </div>
          <% end %>





        </div>
        <%= f.submit "Enviar", class: 'pull-right btn btn-default btn-success' %>






      <% end %>
    </div>
  </div>
</div>
